<div ng-controller="navbarCtrl">
<header class="main-header">
        <a href="../../index2.html" class="logo">
          <span class="logo-mini"><b>R</b>UH</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>RUH</b>ungrie</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li>
                <a href="javascript:void(0);">Customer Care: 1800-999-9977 (9AM - 11PM)</a>
                </li>
              <li>
                  <a href="#/checkout" class="btn"><i class="fa fa-shopping-cart"></i></a>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="img/blue-user-icon.png" class="user-image" alt="User Image">
                  <span class="hidden-xs">Shaik Nayeem</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="img/blue-user-icon.png" class="img-circle" alt="User Image">
                    <p>
                      Shaik Nayeem - Web Developer
                      <small>Member since Nov. 2015</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <img src="img/blue-user-icon.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Shaik Nayeem</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <ul class="sidebar-menu">
            <li class="active">
              <a href="#home" data-toggle="tab">
                <i class="fa fa-home"></i><span>Home</span>
              </a>
              </li>
              <li>
                <a href="#"  data-toggle="modal" data-target="#modal_default">
                  <i class="fa fa-briefcase"></i><span>How It Works</span>
                </a>
                </li>
                <li>
                  <a href="#" data-toggle="modal" data-target="#modal_default2">
                    <i class="fa fa-question-circle"></i><span>Help</span>
                  </a>
                  </li>
          </ul>
          
        </section>
      </aside>
      </div>
      
           <div class="modal fade bs-example-modal-lg" id="modal_default" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">How It Works</h4>
                  </div>
                  <div class="modal-body">
                   <div>
                          <p>It's simple:</p>
                            <ol>
                              <li>Enter delivery address</li>
                              <li>Pick a great restaurant</li>
                              <li>Select yummy food</li>
                              <li>Enter delivery time</li>
                              <li>Enter payment details</li>
                              <li>And the food will be on the way!</li>
                            </ol>
                       </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade bs-example-modal-lg" id="modal_default2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Help</h4>
                  </div>
                  <div class="modal-body">
                        <div>
                          <h4>1.Until how late do you deliver?</h4>
                          <p>We deliver as late as 9pm from all restaurants.</p>          
                          <h4>2.What payment methods do you accept?</h4>
                          <p>We gladly accept all major credit cards.</p>                    
                          <h4>3.I got an extra chocolate muffin with my order, what is this about?</h4>
                          <p>That's just a small thank-you gift from RUHUngrie. Enjoy it!</p>
                        </div>  
                  </div>
                </div>
              </div>
            </div>